.title {
  text-align: center;
  color: rgba(13, 40, 158, 0.877);
}

.returnHome {
  color:  rgba(13, 40, 158, 0.877);
}

.content {
  background-color: lightcoral;
}

.bookInfo {
  position: relative;
  display: flex;
  color: rgba(13, 40, 158, 0.877);
}

.searchResultsHeading {
  margin-bottom: 2rem;
}

#searchResultsTable {
  background: black;
  display: auto;
}

#bookImage {
  text-align: center;
}