.title {
  text-align: center;
  color: rgba(24, 62, 233, 0.877);
}

.content {
  background-color: rgb(135, 222, 164);
}

.bookTitleLabel, .bookAuthorLabel {
  position: relative;
  display: flex;
  color: black(13, 40, 158, 0.877);
  margin-bottom: 2 rem;
}

.searchResultsHeading {
  margin-bottom: 2rem;
}

.row {
  display: flex;
  background-color: rgb(135, 222, 164);
}

#bookImage {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  flex: 1;
  padding: 1em;
}

#bookInfo {
  display: flex;
  align-items: flex-start;
  overflow:hidden;
  border: 1px solid #ccc;
  flex: 1;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.grid-container {
  display: flexbox;
  padding: 10px;
  align-items: center;
  justify-items: center;
}

.aboutList {
  margin-bottom: 0px;
}

@media screen and (max-width: 400px) {
  .bookImage { 
   float: none;
   margin-right:0;
   width:auto;
   border:0;
   border-bottom:2px solid #000;    
 }
}
