.title {
  text-align: center;
  color: rgba(13, 40, 158, 0.877);
}

.returnHome {
  color:  red(13, 40, 158, 0.877);
}

.content {
  background-color: lightcoral;
}

.bookTitleLabel {
  position: relative;
  display: flex;
  color: black(13, 40, 158, 0.877);
  margin-bottom: 2 rem;
}

.bookAuthorLabel {
  position: relative;
  display: flex;
  color: black(13, 40, 158, 0.877);
  margin-bottom: 2 rem;
}

.searchResultsHeading {
  margin-bottom: 2rem;
}

#searchResultsTable {
  background: black;
  width: auto;
  height: auto;
}

#bookImage {
  text-align: center;
  column-width: auto;
}

#bookInfo {
  width: auto;
}

.divider {
  display: inherit;
}

.container .emptyResults {
  background-color: lightcoral;
  display: auto;
}