<html>
    <head>
    </head>
    <body>
        <div class="greeting">Hello</div>
        <form name="searchForm" action="/api/search/books" method="get">
            Search Books: <input name="q" id="q"/><br/>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>