<html>
    <head>
    </head>
    <body>
        <div class="greeting">Hello</div>
        <form name="signInForm" action="/api/search/books" method="get">
            Search Books: <input name="search" id="search"/><br/>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>