<html>
    <head>
        <link rel="stylesheet" href="/index.css" />
    </head>
    <body class="content">
        <div>
            <h1 class="title">
                BookFinder
            </h1>
            <h3>
                Welcome!
            </h3>
        </div>
        <div>
            <p>Find a new book to dive into!</p>
        </div>
        <form name="searchForm" action="/api/search/books" method="get">
            Search for a book: <input placeholder="george orwell" name="q" id="q"/>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>